@import 'layout';

body{background-color: hsl(204, 43%, 93%);}

.container{
    font-family: 'Karla', sans-serif;
    &__header{
        background-color: #fff;
        
        &--heading-1{
            color: hsl(179, 62%, 43%);
            font-size: 2.8rem;
        }

        &--heading-2{
            color: hsl(71, 73%, 54%);
            font-size: 2rem;
        }

        &--paragraph{
            color: hsl(218, 22%, 67%);
            font-size: 1.6rem;
            line-height: 3rem;
        }
    }
    &__left{
        background-color: hsl(179, 62%, 43%);
        color: #fff;

        &--heading{
            font-size: 1.8rem;
        }

        &--price-box{
            h2{
                font-size: 3rem;
                font-weight: 400;
            }
            p{
                font-size: 1.5rem;
                opacity: .3;
            }
        }

        &--paragraph{
            font-size: 1.5rem;
        }
        &--button{
            background-color: hsl(71, 73%, 54%);
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 1px;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 .8rem 5rem rgba(#000000, .3);
            cursor: pointer;
        }
    }
    &__right{
        background-color: hsla(179, 94%, 36%, .7);

        &--heading{
            color: #fff;
            font-size: 2rem;
        }

        &--paragraph-box{
            p{
                color: hsla(204, 43%, 93%, .8);
                font-size: 1.5rem;

            }
        }

    }
}